html,
body {
  height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
}

body {
  background: linear-gradient(to left, white, #0b6bcb, white);

  position: relative;
}
.date {
  padding-top: 0.8%;
  padding-left: 92%;
}
.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: white;
}

.box {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-container {
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
  margin-top: -20px;
}

.to-do-heading {
  font-size: 24px;
  position: sticky;
  text-align: center;
  top: 0px;
  z-index: 2;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  background-color: white;
}

.todo-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  justify-content: space-between;
  z-index: 1;
}

.todo-content {
  flex-shrink: 0;
  max-width: calc(100% - 100px);
  word-wrap: break-word;
}

.action-buttons {
  width: 100px;
  flex-shrink: 0;
}

.editable-input {
  width: auto;
  flex-grow: 1;
}

.add-todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #ddd;
}

.add-button {
  padding: 10px 20px;
  margin-left: 10px;
}

.slick-slider {
  width: 100%;
}

.todo-container::-webkit-scrollbar {
  width: 6px;
}

.todo-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.todo-container::-webkit-scrollbar-thumb {
  background: #888;
}

.todo-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.add-todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #ddd;
}

.add-button {
  padding: 10px 20px;
  margin-left: 10px;
}

.add-description-input {
  margin-right: 10px;
}
